.category-content {
  background-attachment: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;  
}

.category-title {
  font-size: 42px;  
  text-shadow: 0px 4px #333333;
  color: #d8633f;
}

.category-text {
  font-size: 26px;
  font-family:'VT323';
  text-shadow: 0 2px 2px #000000;  
  letter-spacing: -5.5%;  
}

.image-border {
  border-color: #949494;
  border-width: 10px;
  border-style: solid;
  border-radius: 10px;  
}
